.app {
  height: 100vh;
  width: 100vw;
  text-align: center;
  .title {
    color: white;
    background-color: blue;
    margin-top: 0px;
    padding-top: 20px;
    height: 80px;
    margin-bottom: 30px;
  }
  .boardcontainer {
    display: flex;
    justify-content: space-evenly;
  }
  .pagecontent {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    .homepanel {
      height: 70vh;
      width: 20vw;
      border: 2px solid black;
    }
    .boardmockmenu {
      width: 720px;
      height: 720px;
      display: flex;
      flex-wrap: wrap;
      div {
        cursor: pointer;
        color: blue;
        background-color: blue;
        width: 240px;
        height: 210px;
        padding-top: 30px;
        &:hover {
          color: white;
          background-color: rgb(78, 78, 188);
        }
        p {
          font-size: 50px;
        }
      }
    }
    .games {
      align-self: center;
      table,
      th,
      td {
        border: 1px solid;
      }
      td {
        text-align: left;
        font-family: "Courier New", Courier, monospace;
      }
    }
  }
}
