::-webkit-scrollbar {
  background: transparent;
  width: 0;
  height: 0;
}
.logcontainer {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  width: 400px;
  height: 200px;
  border: 4px solid black;
  border-bottom: 2px;
  p {
    font-family: "Courier New", Courier, monospace;
    font-weight: 1000;
    text-align: left;
    width: 100%;
    margin: 6px;
    margin-bottom: 0px;
  }
}
.usercontainer {
  width: 400px;
  height: 200px;
  border: 4px solid black;
  border-top: 0px;
  .turncontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid black;
    border-left: 0px;
    border-right: 0px;
    .turnIndicator {
      margin: 3px;
      font-size: 0px;
      width: 20px;
      height: 20px;
      border: 2px solid black;
    }
    .turnIndicatorTrue {
      color: green;
      background-color: green;
    }
    .turnIndicatorFalse {
      color: red;
      background-color: red;
    }
    .freeshotinformation {
      margin: 5px;
      p {
        width: 100%;
        float: left;
        margin: 0px;
      }
    }
  }
  .charcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 75px;
      height: 75px;
    }
  }
}
